<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>User Profile</h1>
        <hr>
        <h2>My Orders</h2>
        {{# each orders}}
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    {{# each this.items}}
                    <li class="list-group-item"><span class="badge">R${{ this.price}}</span><strong>{{this.item.title}}
                            |
                            {{this.qty}} Units </li></strong>
                    {{/each}}
                    <li class="list-group-item"><span class="badge">OK</span> Buyer's name: {{this.name}}
                </ul>
            </div>
            <div class="panel-footer">
                <strong>
                    <form action="user/update-data" method="GET">
                        Total Price: R${{ this.cart.totalPrice }}
                        <div class="btn-group">
                            <a href="/user/update-order" class="btn btn-warning" role="button">Update Order</a>
                            <a href="/user/delete-order" class="btn btn-danger" role="button">Delete Order</a>
                        </div>
                    </form>
                </strong>
            </div>
        </div>
        {{/each}}
    </div>
</div>