<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <h1>User Profile</h1>
        <hr>
        <h2>My Orders</h2>
        {{# each orders}}
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="list-group">
                    {{# each this.items}}
                    <li class="list-group-item"><span class="badge">R${{ this.price}}</span><strong>{{this.item.title}} |
                        {{this.qty}} Units </li></strong> 
                    {{/each}}
                    <li class="list-group-item"><span class="badge">OK</span> Buyer's name: {{this.name}}

                </ul>
            </div>
            <div class="panel-footer">
                <strong>
                    Total Price: R${{ this.cart.totalPrice }}
                    <div class="btn-group">
                        <button type="button" class="btn btn-warning">Update Order</button>
                        <button type="button" class="btn btn-danger">Delete Order</button>
                    </div>
                </strong>
            </div>
        </div>
        {{/each}}
    </div>
</div>